*{
    margin-top: 150px;
}
body{
    background-color: beige;
}
#d {
    border-radius: 30px;
    border: 3px solid green;
    width: 500px;
    height: 100px;
    padding: 20px 0 0 20px;;
    text-align: center;
    margin: auto;
    background-color: aquamarine;
    box-shadow: 5px 5px 5px;
}


input {
    margin-top: 25px;
    
}
a {
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
    bottom: 70px;
    left: 200px;
    width: 30px;
    height: 15px;
}


#s{
    width: 100px;
    text-align: center;
    margin: auto;
    background-color: aqua;
}