body {
    background-color: antiquewhite;
 
}
#d {
    width: 300px;
    height: 100px;
    margin: auto;
    background-color: aquamarine;
    border: 3px solid green;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    text-align: center;
    padding: 25px 5px 25px 10px;
    margin-top: 250px;

}
#p2 {
    position: relative;
    right: 8px;
}
