body{
    background-color: beige;
    
    
}
#tel_1,#tel_2,#tel_3{
    width: 50px;
}
div {
    margin-top: 200px;
    border: 3px solid green;
    border-radius: 50px;
    width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 200px;
    background-color: aquamarine;
    box-shadow: 5px 5px 5px;
}
#birth_y {
    position: relative;
    left: 10px;
}
#birth_m,#birth_d {
    position: relative;
    left: 5px;
}
h1{
    text-align: center;
    position: relative;
    top: 200px;
}